* {
    margin: 0px;
    padding: 0px;
}

/*
div {
    border: 1px solid #356ead;
}
*/

body {
    font-family: sans-serif;
}

.container { 
    max-width: 1140px; 
    margin: 0 auto; 
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(images/top__back.svg);
    background-repeat: no-repeat;
    background-position: right center ;
    background-size: 44%;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 425px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 72px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    font-style: normal;
    font-weight: 300;
}

.what-we-do{
    padding-top: 64px;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text {
    font-size: 16px; 
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding:  44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
} 

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__parent {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
} 
 
.project__img{
    width: 100%;
 }

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
    font-weight: 300;
}

.project__text_mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
}

.project__parent > .project__item:first-of-type {
    margin-right: 32px;
} 

.main {
    display: flex;
}

.footer {
    background: #316099;
    margin-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__info{
    padding-top: 91px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__info__box{
    height: 100%;
}


.footer__heading {
    font-style: normal;
    font-weight: normal;
    width: 341px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
}

.footer__text {
    width: 425px;
    opacity: 0.6;
    color: #FFFFFF;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 50px;
    text-decoration: none;
    margin-right: 2px;
    width: fit-content;
}

.footer__hr {
    height: 0px;
    left: 0px;
    opacity: 0.4;
    border: 0.5px solid #FFFFFF;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contacts {
    display: flex;
    justify-content:space-between;
    list-style-type:decimal;
    padding-top: 64px;
    padding-bottom: 64px;
}

.input-text {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

li{
    list-style-position:inside;
    flex-grow: 1;
    letter-spacing: 0.05em;
}

.contacts__links{
    color: #FFFFFF;
    text-decoration: none;
}

.rights{
    padding-bottom: 64px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.button-submit {
    background: #5098D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height:  26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media(max-width: 1024px){
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
         margin-bottom: 32px;
    }

    .footer__info{
        padding-top: 47px;
        padding-bottom: 44px;
        padding-left: 92px;
    }

    .footer__text {
        width: 336px;
        font-size: 16px;
        line-height: 26px;
    }

    .footer__button {
        padding: 5px 25px;
        font-size: 16px;
        margin-right: 92px;
    }

    .footer__contacts{
        padding-left: 92px;
    }

    .contacts {
        flex-direction: column;
    }

}

@media(max-width: 667px){
    .header{
        padding-top: 24px;
    }

    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
 
    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    
    .top__text{
        width: 100%;
        text-align: center;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-image: none;
    }

    .top__button {
        font-size:12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box{
        padding-top: 32px;
    }
 
    .card{
        width: 100%;
    }

    .text_project{
        width: 100%;
    }

    .project__text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_mini {
        left: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__parent > .project__item:first-of-type {
        margin-right: 0;
        margin-bottom: 16px;
    } 

    .footer__info{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        padding-left: 16px;
        justify-content:space-between;
    }

    .footer__text {
        width: 100%;
        text-align: center;
    }

    .footer__heading{
        width: 100%;
    }

    .footer__button {
        padding: 5px 25px;
        justify-content: center;
    }

    .footer__contacts{
        padding-left: 16px;
    }


}